/Test
Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/windows_amd64/terraform-provider-aws_v3.63.0_x5.exe
Terraform/alegia_id_rsa.pub
Terraform/.terraform/providers/registry.terraform.io/hashicorp/ad/0.4.3/windows_amd64/terraform-provider-ad_v0.4.3_x5.exe
